.searchPart
    margin:5px;
.group-list-module
    background:#fff
.setUnable 
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
.map-container
    height:450px
    width:450px
    position:absolute
    margin-left:20%
    margin-top:40%
    z-index:99999
    background-color: white
    border:1px solid rgba(0, 0, 0, 0)
    border-radius:10px 
.type
    margin-left:10%
    margin-bottom:3%
.map
    margin-left:10%
#container
    width:90%
    height:250px
.address
    margin-left:10%
    margin-top:5%
    margin-bottom:3%
.address-name-entity
    width:60%
.type-name-entity
    width:60%
.button-group
    text-align:center
.button-group-confirm
    margin-right:5%
.titile-description
    margin-top:3%
    margin-left:5%
.map-detail
    position:absolute
    top:37%
    left:63%
    width:70%
    height:50%
#input 
    width:40%

    
    
    

    