.maintainer-map-description
    width:400px
    height:300px 
    display:table-cell  
.maintain-map-container
    margin-left:29%
    margin-bottom:30px
    display:table
.maintain-map-word
    display:table-cell 
#input 
    width:100%
    left:-100%
   