.searchPart
    margin:5px;
.group-list-module
    background:#fff
 
 .maintainer-map-description
    width:500px
    height:300px 
    display:table-cell  
.maintain-map-container
    margin-left:29%
    margin-bottom:30px
    display:table
.maintain-map-word
    display:table-cell 