.psv-autorotate-button{
    width: 30px;    
}
.psv-fullscreen-button{
    width: 30px;  
    height 30px;  
}
.psv-markers-button{
    width:30px;    
}
.custom-button{
    width: 45px;
    height: 50px;    
}
.plus-device-button{
    width: 30px;
    height: 30px;  
    content: url("./icons/addDevice.svg");     
}
.delete-device-button{
    width: 30px;
    height: 30px;  
    content: url("./icons/deleteDevice.svg");     
}
.add-scene-button{
    width: 30px;
    height: 30px;  
    content: url("./icons/addScene.svg");      
}