.slick-list{
    height: 400px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:5%;
}
.slick-prev {
    left: 0.5%;
    z-index: 99999;
}
.slick-next {
    right: 0.5%;
    z-index: 99999;
}
.slick-prev:before,.slick-next:before {color: #000!important;}

.scene-slide{
    width:80px;
    height:400px;
    margin-left: 5%;
}
.scene-img{
    width:300px;
    height:400px;    
}
.scene-select{
    width:200px;
    position:relative;
    margin-left:80%;    
}